<template>
    <div class="">
        <h1>Error: {{error.status}}</h1>
        <p>{{error.message}}</p>
        <p>{{error.code}}</p>
        <div v-if="error.uri">
            <a :href="error.uri">Click for more</a>    
        </div>

    </div>

</template>

<script>
export default {
    data () {
        return {}
    }
}
</script>

<style>
</style>
